header {
    background-color: #1F2937;
    font-family: Roboto;
    color: white;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

h1 {
    margin: 0px;
}

#add {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1F2937;
    font-family: Roboto;
    color: white;
    width: 25%;
    border-radius: 17px;
    margin-block: 11px;    
}