header {
    background-color: #1F2937;
    font-family: Roboto;
    color: white;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

h1 {
    margin: 0px;
}

#add {
    background-color: darkgrey;
    display: flex;
    gap: 45px;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #1F2937;
    font-family: Roboto;
    color: white;
    border-radius: 17px;
    margin-block: 11px;    
}

table {
    border-collapse: collapse;
    border: 2px solid white;
    letter-spacing: 1px;
    font-size: 0.8rem;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent bg */
    color: white;
    margin: 2rem auto;
    width: 90%;       /* or a fixed width like 800px */
    max-width: 1000px;
    text-align: center;
}


td, th {
    border: 1px solid white;
    padding: 10px 20px;
}

td {
    text-align: center;
}

caption {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.project-card {
    border: 1px solid #ccc;
    padding: 1em;
    margin: 1em 0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.project-card h2 {
    margin: 0 0 0.5em;
}
